img {
  display: block;
  float: left;
  max-width: 100%;
}


@media (max-width: 640px) {
  nav {
    display:flex;
    justify-content: space-around;
    background-color: lightgreen;
    flex-direction: column;
  }
}
